<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form method="post" action="/" enctype="multipart/form-data">
        <dl>
            <p>
                <label for="cars">Choose a type of leaf:</label>
                <select id="leaf" name="leaf">
                    <option value="potato">Potato</option>
                    <option value="maize">Maize</option>
                    <option value="corn">Corn</option>
                </select>

                <input type="file" name="file" class="form-control" autocomplete="off" required>
            </p>
        </dl>
        <p>
            <input type="submit" value="Submit" class="btn btn-info">
        </p>
    </form>
    {{filename}}
</body>

</html>
